$border-color: #cccbcb;
.friendWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0 25px;
}

.info {
    h3 {
        margin-bottom: 7px;
    }
    p {
        margin: 0 0 7px;
        font-size: 15px;
        &:last-of-type {
            margin-bottom: 15px;
        }
    }
}
.actions {
    i {
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        cursor: pointer;
        &:not(:last-of-type) {
            margin-right: 5px;
        }
    }
}